.row-player1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.row-player2 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.button-wrapper {
  grid-column: 3/4;
  grid-row: 3/4;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#player-select-form {
  grid-column: 1/4;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

button {
  border-radius: 15%;
  background-color: #44475a;
  border: none;
  color: #50fa7b;
  text-align: center;
  font-size: 100%;
  padding: 2.5%;
  width: 75%;
  height: 75%;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(31, 79, 222, 0.7);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-shadow: 0px 2px 10px #6272a4;
}

@media screen and (min-width: 00px) {
  a:hover {
    color: #8be9fd;
    transition: 0.5s;
  }
  a:focus {
    color: #8be9fd;
    transition: 500ms;
  }
  button:hover:after {
    opacity: 1;
    right: 10px;
    cursor: pointer;
  }
  button:hover {
    padding-right: 24px;
    padding-left: 8px;
    cursor: pointer;
  }
  button:hover {
    padding-right: 24px;
    padding-left: 8px;
    cursor: pointer;
  }
  button:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 37.5%;
    right: -20px;
    transition: 0.5s;
    cursor: pointer;
  }
}
